.root {
  position: absolute;
  bottom: var(--mantine-spacing-sm);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--mantine-z-index-modal);
  display: flex;
  align-items: center;
  justify-content: centerr;
  padding: 8px;
  gap: 8px;

  opacity: 0.3;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}
