.mdb-string {
  color: var(--mdb-string);
}

.mdb-iri {
  color: var(--mdb-iri);
}

.mdb-numeric {
  color: var(--mdb-numeric);
}

.mdb-boolean {
  color: var(--mdb-boolean);
}

.mdb-null {
  color: var(--mdb-null);
}

.mdb-type {
  color: var(--mdb-type);
}

.mdb-iri-prefix {
  color: var(--mdb-iri-prefix);
}

.mdb-iri-suffix {
  color: var(--mdb-iri-suffix);
}

.mdb-node {
  color: var(--mdb-node);
}

.mdb-edge {
  color: var(--mdb-edge);
}
